<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Task Manager{% endblock %}</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >
</head>

<body>

    <header>
        <nav>
    <a href="{{ url_for('home.home') }}">Начало</a>

    <a href="{{ url_for('tasks.list_tasks') }}">
        Задачи
    </a>

    <a href="{{ url_for('tasks.create_task') }}">
        Нова задача
    </a>

    <a href="{{ url_for('ai.ai_assistant') }}">
        AI Assistant
    </a>
</nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>Task Manager &copy; 2026</p>
    </footer>

</body>
</html>