{% extends "base.html" %}

{% block title %}
Задачи
{% endblock %}

{% block content %}

<h1>Моите задачи</h1>
<p>
    Тук ще виждаме всички задачи.
</p>

{% if tasks %}

    <ul>
        {% for task in tasks %}
            <li>
                <strong>
                    <a href="{{ url_for('tasks.task_details', task_id=task.id) }}">
                        {{ task.title }}
                    </a>
                </strong>
                {% if task.description %}
                    - {{ task.description }}
                {% endif %}

                <span>
                    [{{ task.status }}]
                </span>
            </li>
        {% endfor %}
    </ul>

{% else %}

    <p>Все още няма добавени задачи.</p>

{% endif %}

{% endblock %}